---
title: Vesti
layout: default
---


<h2>INFORMACIJE:</h2>
<ul>
  {% for post in site.tags.informacije limit: 5 %}
    <li>{{ post.date | date: "%d/%m/%y" }} <a href="{{ post.url }}">{{ post.title }}</a>
   <!--  <p>{{ post.excerpt }}</p> -->
  </li>
  {% endfor %}
</ul>

<h2>AKCIJE:</h2>
<ul>
  {% for post in site.tags.akcije limit: 5 %}
    <li>{{ post.date | date: "%d/%m/%y" }} <a href="{{ post.url }}">{{ post.title }}</a>
   <!--  <p>{{ post.excerpt }}</p> -->
  </li>
  {% endfor %}
</ul>
