table:not(.special) {
  float:right;
  table-layout: fixed; 
  width:570px;
}
table img { 
   margin: 10px;
}
table:not(.special) td:nth-child(2) {
  word-wrap:break-word;
  -webkit-transform:rotate(-90deg); 
  -moz-transform:rotate(-90deg); 
  -ms-transform:rotate(-90deg); 
  -o-transform:rotate(-90deg); 
  font-size: medium;
}
