<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta http-equiv="Content-Language" content="sr" />
    <meta name="google" content="notranslate" />
    <link rel="shortcut icon" href="/assets/ico/tasterkljuc.png">

    <title>{{ site.long_name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/assets/css/default.css" rel="stylesheet"> 
    {% if page and page.css %}
      <link rel='stylesheet' type='text/css' href="/assets/css/{{ page.css }}.css"/>
    {% endif %}
   <!-- <link href="/assets/css/carousel.css" rel="stylesheet">
    -->

  </head>
<!-- NAVBAR
================================================== -->
  <body>
        <header class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
	      <a class="navbar-brand" href="/">{{ site.name }}</a>
            </div>

            <nav class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/informacije">Informacije</a></li>
                    <li><a href="/reference">Reference</a></li>
                    <li><a href="/akcije">Akcije</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proizvodi<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/proizvodi/mini-kljuc">Mini Ključ</a></li>
                    <li><a href="/proizvodi/radno-vreme">Radno vreme</a></li>
                    <li><a href="/proizvodi/spikerfon">Spikerfon</a></li>
	  </ul>
                </li>
		<li><a href="/instalacija">Instalacija</a></li>
		<li><a class="" href="/naruci">Naruči</a></li>
              </ul>

	      <ul class="nav navbar-nav navbar-right">
                 <li><a href="/kontakt">Kontakt</a></li>
	      </ul>
            </nav>
          </div>
        </header>

    <div class="container marketing">
    {% if page and page.css != "carousel" %}
    <div class="lead">
    {% endif %}

    {{ content }}

    {% if page and page.css != "carousel" %}
    </div>
    {% endif %}

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 TRK INOVACIJE &middot; <a href="/kontakt">Kontakt</a>&middot; <a href="/kontakt/politika-privatnosti">Politika privatnosti</a> &middot; <a href="/kontakt/uslovi-koriscenja">Uslovi korišćenja</a></p>
        <ul class="list-inline">
 		<li> <a href="https://www.facebook.com/taster.kljuc"><img  src="/assets/ico/fb.png" alt="facebook"></a></li>
		 <li> <a href="https://twitter.com/tasterkljuc"><img src="/assets/ico/tw.png" alt="twitter"></a></li>
	 </ul>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
   {% if page and page.js %}
    <script src="/assets/js/{{ page.js }}.js"></script>

   {% endif %} 
<!--
GOOGLE ANALITICS 
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45446491-1', 'tasterkljuc.rs');
  ga('send', 'pageview');

</script>

  </body>
</html>

