<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="/assets/ico/tasterkljuc.png">

    <title>{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/assets/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
	      <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proizvodi<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/proizvodi/mini-kljuc">Mini Ključ</a></li>
                    <li><a href="/proizvodi/radno-vreme">Radno vreme</a></li>
                    <li><a href="/proizvodi/spikerfon">Spikerfon</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">niste pronašli šta vam treba</li>
                    <li><a href="#">Javite nam vaše zahteve</a></li>
                  </ul>
                </li>
                <li><a href="/vesti">Vesti</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
              </ul>
<ul class="nav navbar-nav navbar-right">
<p>
<!-- AddThis Follow BEGIN -->
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_facebook_follow" addthis:userid="pages/TRK-Inovacije/262845617190135"></a>
<a class="addthis_button_twitter_follow" addthis:userid="trkinovacije"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f62f09f683d02df"></script>
<!-- AddThis Follow END -->
</p>
</ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container marketing">

    {{ content }}


      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 TRK INOVACIJE &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/jquery.fitvids.js"></script>

<!--
GOOGLE ANALITICS 
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45446491-1', 'tasterkljuc.rs');
  ga('send', 'pageview');

</script>

  </body>
</html>

