---
layout: default
css: post
---

{{ page.date | date: "%d/%m/%y" }}
<strong>{{ page.title }}</strong>

<div align="justify">
{{ content }}
</div>

<hr class="divider">
{% for cat in page.categories %}
<strong id="{{ cat }}-ref">Slične <a href="/vesti/{{ cat }}">{{cat}}</a>:</strong>
  {% for post in site.posts reversed %}
    {% if post.categories contains cat and post.id != page.id %}
      <li>{{ post.date | date: "%d/%m/%y" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}

  {% endfor %}

{% endfor %}
