---
layout: default
---

{{ content }}
<hr class="divider">
{% for cat in page.category %}
<div class="row">
	  <div class="col-md-4">


{% for post in site.posts reversed limit 5 %}
{% if post.categories contains cat  %}
<li>{{ post.date | date: "%d/%m/%y" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endif %}

{% endfor %}
</div>  </div>
	    <div class="col-md-4">.col-md-4</div>
	      <div class="col-md-4">.col-md-4</div>
      </div>
Slične <a href="/proizvodi/{{ cat }}">{{cat}}</a>:

{% endfor %}
